<footer class="section-footer">
  <div class="container-footer container">
    <nav class="footer-page-nav">
      <ul class="footer-menu">
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#about-us">About Me</a>
        </li>
        <li class="footer-menu-item">
          <a class="footer-menu-link" href="#our-collection">My works</a>
        </li>
      
      </ul>
    </nav>
    <h2 class="slogan">
      A touch of <span class="span-slogan">Ukrainian</span> culture in every
      embroidery
    </h2>
  </div>
</footer>
