<section class="about-us section" id="about-us">
  <div class="container">
    <div class="about-us-inner">
      <div class="about-us-content " data-aos="fade-right" data-aos-duration="1000">
        <h2 class="about-us-title">About Me</h2>
        <p class="about-us-text">
          When I embroider, I feel a deep sense of calm and focus.Each stitch becomes a part of my soul,
          and the colors bring to life the emotions I want to convey.Embroidery gives me a sense of creative flow,
          allowing me to forget about everyday worries.
        </p>
        <p class="about-us-text">
          Always, while working, I feel joy and inspiration as I see my ideas come to life.
          Each new piece brings me satisfaction and pride in the result,and the process of embroidery becomes a way to express my feelings and experiences.
        </p>
      </div>
      <div class="about-us-box-img">
        <!-- Slider main container -->
        <div class="swiper about-us-swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper about-us-swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide about-us-swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 1x,
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 1x,
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 1x,
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 1x,
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 1x,
                    /images/about-us/hero-girl-2-desktopmax@1x.webp 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="about-us-img"
                  src="/images/about-us/hero-girl-2-desktopmax@1x.webp"
                  alt="White Vyshyvanka"
                  width="709"
                  height="545"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide about-us-swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/about-us/children.webp 1x,
                    /images/about-us/children.webp 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /images/about-us/children.webp 1x,
                    /images/about-us/children.webp 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /images/about-us/children.webp 1x,
                    /images/about-us/children.webp 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 375px)"
                  srcset="
                    /images/about-us/children.webp 1x,
                    /images/about-us/children.webp 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    /images/about-us/children.webp 1x,
                    /images/about-us/children.webp 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="about-us-img"
                  src="/images/about-us/children.webp"
                  alt="White Vyshyvanka"
                  width="709"
                  height="545"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
