<header class="header" id="header">
  <div class="header__navbar container">
    <nav class="header__navigation">
      <a class="header__logo-link" href="index.html">
        <img
          class="header__logo"
          src="/images/icons/solo.png"
          alt="logotype icon"
          width="80"
          height="60"
        />
      </a>
      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link" href="#about-us">about us</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#our-collection">our collection</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#your-order">customer order</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#testimonials">testimonials</a>
        </li>
      </ul>
    </nav>
    <address class="header__address">
      <a class="header__contact-link" href="tel:+380990092096"
        >+380 (99) 009-20-96</a
      >
    </address>

    <div class="header__mobile-menu">
      <button
        class="header__mobile-menu-btn"
        id="open-menu"
        type="button"
        data-modal-open
      >
        <svg
          class="header__mobile-menu-icon"
          width="38"
          height="18"
          aria-label="mobile menu open icon"
        >
          <use href="/images/icons/icons.svg#nav-btn-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<div id="menu-backdrop" class="menu-backdrop">
  <div class="container menu-container" id="mobil-menu">
    <button id="close-menu" type="button" class="close-menu-button">
      <svg class="close-menu-icon">
        <use href="/images/icons/icons.svg#close-icon"></use>
      </svg>
    </button>
    <div class="menu-elements-cont">
      <a class="menu-phone uppercase" href="tel:+380990092096"
        >+380 (99) 009-20-96</a
      >
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#about-us">about me</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#our-collection">my work</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#your-order">customer order</a>
        </li>
        <li class="menu-nav-item">
          <a class="menu-nav-link" href="#testimonials"></a>
        </li>
      </ul>
      <div class="menu-ornament-cont"></div>
    </div>
  </div>
</div>
