<!--  ==================== OUR COLLECTION ====================  -->
<section class="collection section" id="our-collection">
  <div class="container-collection container">
    <h2 class="title-our-collection">My works</h2>
    <ul class="list-cards-collection">
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/photo1.jpg 1x,
                images/our-collection/photo1.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/photo1.jpg 1x,
                images/our-collection/photo1.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/photo1.jpg 1x,
                images/our-collection/photo1.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/photo1.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
        </li>

      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/photo4.jpg 1x,
                images/our-collection/photo4.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/photo4.jpg 1x,
                images/our-collection/photo4.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/photo4.jpg 1x,
                images/our-collection/photo4.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/photo4.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>

      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/flower.jpg 1x,
                images/our-collection/flower.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/flower.jpg 1x,
                images/our-collection/flower.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/flower.jpg 1x,
                images/our-collection/flower.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/flower.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>

      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/photo5.jpg 1x,
                images/our-collection/photo5.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/photo5.jpg 1x,
                images/our-collection/photo5.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/photo5.jpg 1x,
                images/our-collection/photo5.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/photo5.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>

      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/peonys.jpg 1x,
                images/our-collection/peonys.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/peonys.jpg 1x,
                images/our-collection/peonys.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/peonys.jpg 1x,
                images/our-collection/peonys.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/peonys.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="item-cards-collection">
        <div class="container-image-cards-collection">
          <picture class="image-cards-collection">
            <source
              media="(min-width: 768px)"
              srcset="
                images/our-collection/hands.jpg 1x,
                images/our-collection/hands.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 375px)"
              srcset="
                images/our-collection/hands.jpg 1x,
                images/our-collection/hands.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                images/our-collection/hands.jpg 1x,
                images/our-collection/hands.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="images/our-collection/hands.jpg"
              alt="embroidered shirt"
              width="342"
              height="430"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>

  <!-- ==================== SWIPER OUR COLLECTION ==================== -->
  <div class="container-swiper-collection container">
    <h2 class="title-our-collection">My works</h2>
    <div class="swiper swiper-collection">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/photo1.jpg 1x,
                      images/our-collection/photo1.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/photo1.jpg 1x,
                      images/our-collection/photo1.jpg2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/photo1.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>

              <a target="_blank" href="" class="link-item-cards-collection"></a>
            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/photo4.jpg 1x,
                      images/our-collection/photo4.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/photo4.jpg 1x,
                      images/our-collection/photo4.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/photo4.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/photo5.jpg 1x,
                      images/our-collection/photo5.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/photo5.jpg 1x,
                      images/our-collection/photo5.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/photo5.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/angel.jpg 1x,
                      images/our-collection/angel.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/angel.jpg 1x,
                      images/our-collection/angel.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/angel.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>

            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="list-swiper-collection">
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/hands.jpg 1x,
                      images/our-collection/hands.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/hands.jpg 1x,
                      images/our-collection/hands.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/hands.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>

            </li>
            <li class="item-swiper-collection">
              <div class="container-image-cards-collection">
                <picture>
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      images/our-collection/peonys.jpg 1x,
                      images/our-collection/peonys.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      images/our-collection/peonys.jpg1x,
                      images/our-collection/peonys.jpg 2x
                    "
                    type="image/jpg"
                  />
                  <img
                    src="images/our-collection/peonys.jpg"
                    alt="embroidered shirt"
                    width="400"
                    height="430"
                    loading="lazy"
                  />
                </picture>
              </div>

            </li>
          </ul>
        </div>
        
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
