<section class="your-order section">
  <div class="container">
    <div class="order-bg"></div>
    <div class="your-order-wrapper">
      <div class="order-form-wrapper" id="your-order">
        <h2 class="section-title-my">
          Bead Embroidery Advantages</h2>
        <ul class="advantages-list">
            <li data-aos="fade-down" data-aos-delay="0">Visual Appeal</li>
            <li data-aos="fade-down" data-aos-delay="60">Durability</li>
            <li data-aos="fade-down" data-aos-delay="90">Uniqueness</li>
            <li data-aos="fade-down" data-aos-delay="120">Therapeutic Effect</li>
            <li data-aos="fade-down" data-aos-delay="150">Ability to Create Three-Dimensional Designs</li>
        </ul>

      </div>
      <div class="order-img-container">
        <div class="swiper order-swiper">
          <div class="swiper-wrapper order-swiper-wrapper">
            <div class="swiper-slide order-swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/your-order/girl.jpg 1x,
                    /images/your-order/girl.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /images/your-order/girl.jpg 1x,
                    /images/your-order/girl.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="/images/your-order/girl.jpg 2x"
                  type="image/jpg"
                />
                <img
                  class="order-img"
                  src="/images/your-order/girl.jpg"
                  alt="Vyshyvanka1"
                  width="704"
                  height="521"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide order-swiper-slide">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    /images/your-order/girl1.jpg 1x,
                    /images/your-order/girl1.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /images/your-order/girl1.jpg 1x,
                    /images/your-order/girl1.jpg 2x
                  "
                  type="image/jpg"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="/images/your-order/girl1.jpg 2x"
                  type="image/jpg"
                />
                <img
                  class="order-img"
                  src="/images/your-order/girl1.jpg"
                  alt="Vyshyvanka2"
                  width="704"
                  height="521"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
